<h1>
   <br></br>
     The KC of the year!!! ;)
</h1>

<p>
<br></br>
Hello everyone...
	This is Archana K C(you can call me KC). I have just set up this app, with the help of rails girls tutorial and it has helped me a lot. I am really happy to see this app, and it looks like a beautiful baby girl. I am really determined in making more apps in the future. 

And here by I successfully inaugurate my first app in Ruby. :D Enjoy!!!
</p>

